<div class="w-full bg-slate-600 p-6">
  <div class="container mx-auto flex justify-between items-center text-slate-100">
    <a class="font-bold text-lg" routerLink="/"> TodoList </a>
    <div class="flex items-center gap-2">
      @if (userStore.token()) {
        <div>
          <img class="rounded-full" src="https://via.placeholder.com/48" alt="avatar">
        </div>
        <div>
          <p class="font-medium"> {{ userStore.user.name() }} </p>
          <p class="font-thin text-xs"> {{ userStore.user.email() }} </p>
        </div>
      } @else {
        <div>
          <button class="btn btn-primary mr-2"> Login </button>
          <button class="btn btn-secondary" routerLink="register"> Register </button>
        </div>
      }
    </div>
  </div>
</div>
