
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$todo-list-primary: mat.define-palette(mat.$indigo-palette);
$todo-list-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$todo-list-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$todo-list-theme: mat.define-light-theme((
  color: (
    primary: $todo-list-primary,
    accent: $todo-list-accent,
    warn: $todo-list-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($todo-list-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply rounded-lg px-4 py-2 font-medium;

  &.btn-primary {
    @apply bg-blue-500 text-white;
  }

  &.btn-secondary {
    @apply bg-gray-500 text-white;
  }

  &.btn-danger {
    @apply bg-red-500 text-white;
  }

  &.btn-success {
    @apply bg-green-500 text-white;
  }

  &.btn-warning {
    @apply bg-yellow-500 text-white;
  }

  &.btn-disabled {
    @apply bg-gray-300 text-gray-500 cursor-not-allowed;
  }

  &.btn-lg {
    @apply text-lg p-4;
  }

  &.btn-sm {
    @apply text-sm p-1;
  }
}

select {
  @apply rounded-md p-2 font-medium bg-gray-200;
}

.modal {
  @apply bg-white shadow-lg rounded-lg p-4 fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50;
  height: auto;
  width: 400px;

  @media screen and (min-width: 768px) {
    width: 600px;
  }

  .modal-header {
    @apply flex justify-between items-center border-b border-slate-300 pb-2 mb-2;

    p {
      @apply text-xl font-medium;
    }
  }
}

.form-group {
  @apply flex flex-col mb-4;

  label {
    @apply text-sm mb-1;
  }

  input, textarea {
    @apply rounded-md px-2 py-1 border border-slate-300;

    &:focus {
      @apply border-blue-500;
      outline: none;
    }
  }

  textarea {
    @apply resize-none;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
