<div class="card">
  <div class="card-header w-full bg-slate-700 p-2 flex justify-between">
    <p class="text-white font-bold"> {{ todo?.title }}</p>
    <div class="flex gap-1 text-white">
      <div class="bg-blue-400 rounded-full p-1 flex">
        <ng-icon name="octPencil" />
      </div>
      <div class="bg-red-500 rounded-full p-1 flex">
        <ng-icon name="octX" />
      </div>
    </div>
  </div>
  <div class="w-full border-2 border-slate-700 p-2">
    <p class="mb-4"> {{ todo?.text }} </p>
  </div>
</div>
